<h2>Regisztráció</h2>

<form action="/app121/auth/register" method="POST">
    <label>Név:</label>
    <input type="text" name="name" required>

    <label>E-mail:</label>
    <input type="email" name="email" required>

    <label>Jelszó:</label>
    <input type="password" name="password" required>

    <label>Jelszó újra:</label>
    <input type="password" name="password2" required>

    <button type="submit">Regisztrálok</button>
</form>
